<div class="col-6 mt-2">
        <div class="card" style="width: 18rem;">
  {{!-- <img src="..." class="card-img-top" alt="..."> --}}
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    
    <a href="/plantProfile" class="btn btn-primary">View Plant Profile</a>
  </div> 
</div>
</div>