<style>
    .userPostContainer{
        color: #00D466;
        font-weight: bold;
    }
   
</style>

<div class="container mt-3 userPostContainer">
    <div class="row userPost">
            <div id="other-user-post" cols="10" rows="0">
                My plant gerald is great
            </div>
            </div>
            <div class="likes d-flex justify-content-end">
                <div>
                Upvotes: 5<i class=" ms-1 fas fa-arrow-up"></i>
                </div>
    </div>
</div>


