<style>
  p {
    font-weight: bold;
  }
  img {
    transform: scale(1.5);
  }
</style>

<div class="aside-container">
   <div class="widgets__widgetContainer">
        <h2>Today's Forecast</h2>
        <div id='todaysForecast'></div>
          <h5 class="card-title" id="card-title1"><span id="dateDay1"></span></h5>
            <h6 class="card-subtitle mb-2 text-muted" id="weather-icon1"></h6>
        <p>Temp:<span id="day1Temp"></span></p>
        <p>Wind:<span id="day1Wind"></span></p>
        <p>Humidity:<span id="day1Humidity"></span></p>  
</div>
