
    <div class="feed">
      <div class="feed__header">
        {{#if loggedIn}}
        <h2> Welcome Back {{userName}}
        </h2>
        {{else}}
        <h2>Welcome to Only Plants!</h2>
        {{/if}}
      </div>
      <!-- tweetbox starts -->
      <div class="tweetBox">
        <form>
          <div class="tweetbox__input">
            
            <input type="text" id='newPostInput'placeholder="Tell us about your plant! Who knows who you will inspire!" />
          </div>
          <button id='newPostBtn'>Post</button>
        </form>
      </div>
    <div class="container  feedContainer d-flex flex-column justifty-content-center">

    {{#each post}}
    
    {{>post}}
    {{/each}}
    </div>
    </div>
    
    
  
    
     
    {{>weatherDashboard}}
   
  </body>
</html>
   
  

