<body>
    <div class="feed">
      <div class="feed__header">
        <h2>Only Plants Feed &amp; Seeds</h2>
      </div>

      <!-- tweetbox starts -->
      <div class="tweetBox">
        <form>
          <div class="tweetbox__input">
            
            <input type="text" id='newPostInput'placeholder="Tell us about your plant! Who knows who you will inspire!" />
          </div>
          <button id='newPostBtn'>Post</button>
        </form>
      </div>
    <div class="container  feedContainer d-flex flex-column justifty-content-center">

    {{#each post}}
    {{>post}}
    {{/each}}
    </div>
    </div>
    
    
  
    
     
    {{>weatherDashboard}}
   
  </body>
</html>
   
  

