<style>
    .your-garden-text {
        text-align: center;
        font-size: 45px;
        font-weight: bolder;
        height: 100px;
        background-color: #f5f8fa;
        border-radius: 25px;
        border: 1px solid lightgreen;
        )
    }
</style>
 {{!-- <style>
    /* Image Designing Propoerties */
    .thumb {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }
</style> --}}


<div class="container-fluid d-flex flex-column">
    <div class="container your-garden-text">
        Your Garden
    </div>

 <script>
 window.addEventListener('load', function() {
  document.querySelector('input[type="file"]').addEventListener('change', function() {
      if (this.files && this.files[0]) {
          var img = document.querySelector('img');
          img.onload = () => {
              URL.revokeObjectURL(img.src);  
          }
        console.log(this.files)
        img.src = URL.createObjectURL(this.files[0]); 
      }
  });

 });

</script> 


<input type='file' />
</br><img id="myImg" src="#" alt="your image" height=200 width=100>

    <div class="row mt-3">

        {{>plantCard}}

    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <h3>Add A New Plant:</h3>

            <form class="form new-plant-form">
                <div class="form-group">
                    <label for="plant-name">plant name:</label>
                    <input class="form-input" type="text" id="plant-name" name="plant-name"/>
                </div>
                <div class="form-group">
                    <label for= "plant-species">plant species:</label>
                    <input class="form-input" type="text" id="plant-species" name="plant-species"/>
                </div>
                <div>
                    <label for= "outdoor-plant">Is this an outdoor plant?</label>
                    <input type="checkbox" id="outdoor-plant" name="outdoor-plant"/>
                </div>
                <div>

                </div>
                <div class="form-group">
                    <label for="water-schedule">water schedule:</label>
                    <input class="form-input" type="text" id="water-schedule" name="water-schedule" />
                </div>
                <div class="form-group">
                    <label for="last-watered">Days since last watered:</label>
                    <input class="form-input" type="text" id="last-watered" name="last-watered"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>

<div class="card mt-5">
<div class="tweetBox">
        <form>
          <div class="tweetbox__input">
          <img src="img_avatar.png" alt="Avatar" class="avatar">
            <input type="text" placeholder="Personal Post" />
          </div>
          <button class="tweetBox__tweetButton">Plant Me</button>
        </form>
      </div>

        </div>

        {{!-- {{#if plants.length}} --}}
        <div class="col-md-6 plant-list">
            <h3>My Garden</h3>

    {{#each plants as |plant|}}
            <div class="row mb-2">
                <div class="col-md-8">
                    <h4><a href="/plant/{{plant.id}}">{{plant.name}}</a></h4>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-sm btn-danger" data-id="{{Plant.id}}">DELETE</button>
                </div>
            </div>
            {{/each}}
        </div>
        {{!-- {{/if}} --}}
    </div>
</div>


<script src="./js/plant.js"></script>
