<style>
    .your-garden-text {
        text-align: center;
        font-size: 45px;
        font-weight: bolder;
        height: 100px;
        background-color: #f5f8fa;
        border-radius: 25px;
        border: 1px solid lightgreen;
    }

    .btn {
        background-color: white;
        border: none;
        color: black;
        font-weight: 900;
        border-radius: 30px;
        margin-top: 20px;
        margin-left: auto;
    }

    .card {
        background-color: #a1e698;
        text-align: center;
    }

    img {
        width: 50%;
        height: auto;
    }
</style>
{{!-- <style>
    /* Image Designing Propoerties */
    .thumb {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }
</style> --}}


<div class="container-fluid d-flex flex-column">
    <div class="container your-garden-text">
        <img src="/assets/transparentMyGarden.png" alt="onlyPlants My Garden Logo">
    </div>
    <br>
    <div>
        <script>
            window.addEventListener('load', function () {
                document.querySelector('input[type="file"]').addEventListener('change', function () {
                    if (this.files && this.files[0]) {
                        var img = document.querySelector('img');
                        img.onload = () => {
                            URL.revokeObjectURL(img.src);
                        }
                        console.log(this.files)
                        img.src = URL.createObjectURL(this.files[0]);
                    }
                });
            });
        </script>
        <input type='file' />
        </br><img id="myImg" src="#" alt="your image" height=200 width=100>
    </div>
    <div class="row mt-3">

        {{>plantCard}}

    </div>
    <div class="row mt-4">
        <div class="col-md-6 card">
            <h3>Add A New Plant:</h3>

            <form class="form new-plant-form">
                <div class="form-group">
                    <label for="plant-name">plant name:</label>
                    <input class="form-input" type="text" id="plant-name" name="plant-name" />
                </div>
                <div class="form-group">
                    <label for="plant-species">plant species:</label>
                    <input class="form-input" type="text" id="plant-species" name="plant-species" />
                </div>
                <div>
                    <label for="outdoor-plant">Is this an outdoor plant?</label>
                    <input type="checkbox" id="outdoor-plant" name="outdoor-plant" value="true" />
                </div>
                <div>

                </div>
                <div class="form-group">
                    <label for="water-schedule">water schedule:</label>
                    <input class="form-input" type="text" id="water-schedule" name="water-schedule" />
                </div>
                <div class="form-group">
                    <label for="last-watered">Days since last watered:</label>
                    <input class="form-input" type="number" id="last-watered" name="last-watered" />
                </div>
                <div class="form-group">
                    <label for="plant-img">Plant Image URL (optional):</label>
                    <input class="form-input" type="text" id="plant-img" name="plant-img"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="./js/plant.js"></script>